body {
  font-family: $fontInter;
  // font-size: $baseFontSize;
  color: $MainFontColor;
  background-color: $BackgroundColor;
}

.container {
  outline: 1px solid tomato;
  width: 100%;

  margin-right: auto;
  margin-left: auto;

  @include mobile {
    max-width: 375px;
    padding-right: 4px;
    padding-left: 4px;
  }

  @include desktop {
    max-width: 1576px;

    padding-right: 85px;
    padding-left: 85px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
