body {
  font-family: $fontInter;
  // font-size: $baseFontSize;
  color: $MainFontColor;
  background-color: $BackgroundColor;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  // outline: 1px solid tomato;

  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 375px) and (max-width: 1575px) {
    width: 375px;
    padding-right: 4px;
    padding-left: 4px;
  }

  @include desktop {
    width: 1576px;
  }
}
