@mixin mobile {
  @media screen and (min-width: 375px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1576px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}

@mixin transition($property, $duration: 250ms) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin double-transition($property1, $property2) {
  transition-property: $property1, $property2;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
