.footer {
  margin-top: 16px;
}

.footer .container {
  padding: 24px;

  background-color: $SectionColor;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.footer-title {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  color: $SecondaryFontColor;
}
