.footer {
  @include mobile {
    margin-top: 16px;
  }

  @include desktop {
    margin-top: 126px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    // padding: 64px 172px;

    background-color: $SectionColor;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
}

.footer-container {
  display: flex;

  background-color: $SectionColor;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  @media screen and (min-width: 320px) and (max-width: 1575px) {
    flex-wrap: wrap;
    row-gap: 32px;
    padding: 24px;
  }

  @include desktop {
    justify-content: space-around;

    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.footer__content-wrapper {
  @media screen and (min-width: 320px) and (max-width: 1575px) {
    &:not(:first-child):not(:last-child) {
      width: calc(100% / 2);
    }

    &:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include desktop {
    &:first-child {
      width: 246px;
      margin-right: 120px;
    }

    &:nth-child(2) {
      width: 101px;
      margin-right: 88px;
    }
    &:nth-child(3) {
      width: 168px;
      margin-right: 88px;
    }
    &:nth-child(4) {
      width: 137px;
      margin-right: 88px;
    }
    &:nth-child(5) {
      width: 174px;
    }

    &:last-child {
      width: 246px;
      margin-left: 120px;
    }
  }
}

.footer-title {
  margin-bottom: 12px;

  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  color: $SecondaryFontColor;

  @include desktop {
    font-size: 14px;
    line-height: 1.42;
  }

  &--centering {
    text-align: center;
  }
}

.footer-title--hide {
  @include mobile {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.footer-list--flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-list__item {
  font-size: 14px;
  line-height: 1.42;
  font-weight: 500;

  @include desktop {
    font-size: 16px;
    line-height: 1.5;
  }
}

.footer-list__info {
  @include mobile {
    margin-top: 12px;

    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    color: $SelectionFontColor;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
  }

  &--hide {
    @include desktop {
      display: none;
    }
  }
}

.footer-list__pay-systems {
  display: flex;
  gap: 24px;
  align-items: center;

  @include desktop {
    justify-content: flex-end;
  }
}

.copyrights {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: $SelectionFontColor;

  @include desktop {
    font-size: 14px;
    line-height: 1.42;
  }

  &__desktop {
    @include mobile {
      display: none;
    }

    @include desktop {
      display: block;
    }
  }

  &__mobile {
    @include mobile {
      display: block;
      margin-top: 16px;
    }

    @include desktop {
      display: none;
    }
  }
}

.footer-list__social {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 10px;
}

.tech-support {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  background-color: $BackgroundColor;
  border-radius: 12px;
}

.tech-support__text {
  font-size: 14px;
  line-height: 1.42;
  font-weight: 500;
  color: $FontColorBlue;

  @include desktop {
    font-size: 16px;
    line-height: 1.5;
  }
}

.footer__store-list {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: flex;
    gap: 14px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.footer__desktop-content {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: block;
  }
}

.privacy-policy {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: block;
    margin-top: 72px;

    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
  }
}

.hashtag {
  font-size: 42px;
  line-height: 1.52;
  font-weight: 700;
}

.follow-instagram {
  padding: 16px 42px;
  margin-top: 18px;
  margin-bottom: 45px;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: $AccentColor;
  background-color: $BackgroundColor;
  border-radius: 12px;
}
// -------------------------------------------Icons-------------------------------------------
.footer__ninja-logo {
  @include mobile {
    width: 170px;
    height: 39px;
  }

  @include desktop {
    width: 246px;
    height: 59px;
  }
}

.mastercard-icon {
  @include mobile {
    width: 37px;
    height: 30px;
  }

  @include desktop {
    width: 21px;
    height: 16px;
  }
}

.visa-icon {
  @include mobile {
    width: 53px;
    height: 17px;
  }

  @include desktop {
    width: 28.5px;
    height: 18px;
  }
}

.privatbank-icon {
  @include mobile {
    width: 24px;
    height: 24px;
  }

  @include desktop {
    width: 17px;
    height: 17px;
  }
}
@include mobile {
}

@include desktop {
}
