.footer {
  margin-top: 16px;
}

.footer .container {
  padding: 24px;

  background-color: $SectionColor;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.footer-title {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  color: $SecondaryFontColor;
}

.footer-list__item {
  font-size: 14px;
  line-height: 1.42;
  font-weight: 500;
}

.footer-list__info {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  color: $SelectionFontColor;
}

.footer-list__pay-systems {
  display: flex;
  gap: 24px;
  align-items: center;
}

.copyrights {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: $SelectionFontColor;
}
