.header-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background-color: $SectionColor;

  @include mobile {
    padding: 8px 12px;
  }

  @include desktop {
    padding: 12px 15px;
    justify-content: space-between;
  }
}

.choose-city {
  margin-left: 13px;
  margin-right: 16px;
}

.input-city {
  width: 75px;
  height: 16px;
}

.header-list {
  display: flex;

  list-style: none;

  @include mobile {
    gap: 4px;
  }

  @include desktop {
    gap: 12px;
  }
}

.header-list__item {
  display: flex;
  align-items: center;
}

.header-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid $Bordercolor;

  @include mobile {
    width: 38px;
    height: 38px;
  }

  @include desktop {
    width: 54px;
    height: 54px;
  }
}

.nav-list {
  list-style: none;
  @include mobile {
    display: none;
  }

  @include desktop {
    display: flex;
    align-items: center;
    gap: 48px;
  }
}

.nav-list__link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.phone-correction {
  display: flex;
  align-items: center;
}

// --------------------------------Buttons--------------------------------
.cart-btn {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    padding: 16px 24px;
    color: $SecondaryFontColor;

    width: 147px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: $SectionColor;
    border-radius: 12px;
    border: 1px solid $Bordercolor;
  }
}

.hide-menu-btn {
  @include mobile {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: $BackgroundColor;
  border-radius: 12px;
  border: 1px solid $Bordercolor;
}

// --------------------------------Icons--------------------------------
.header-list__icon {
  @include mobile {
    width: 20px;
    height: 20px;
  }

  @include desktop {
    width: 24px;
    height: 24px;
  }
}

.cart-icon {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.ninja-logo__desktop {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: block;
  }
}

.ninja-logo__mobile {
  @include mobile {
    display: block;
  }

  @include desktop {
    display: none;
  }
}
