.header-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: $SectionColor;
}

.choose-city {
  margin-left: 13px;
  margin-right: 16px;
}

.input-city {
  width: 75px;
  height: 16px;
}

.header-list {
  list-style: none;
}

.header-list {
  display: flex;
  gap: 4px;
}

.header-list__link {
  height: 40px;
}
