// .container {
//   min-width: 320px;
//   max-width: 1170px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-left: auto;
//   margin-right: auto;
// }

.close-mobile-menu-btn {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  color: black;
  background-color: $BackgroundColor;
  border: none;
  border-radius: 8px;
  outline: none;

  &:hover,
  &:focus {
    background-color: $AccentColor2;
    fill: $FontColorWhite;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  height: 100%;
  // padding: 32px;
  background-color: #1a1a1a66;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container .container {
  position: relative;
  padding: 18px;
  width: 367px;
  height: 100%;
  background-color: $SectionColor;
  border-radius: 12px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .close-mobile-menu-btn {
  position: absolute;
  top: 8px;
  right: 17px;
}
