.cart-title {
  margin-bottom: 24px;

  @include desktop {
    font-size: 28px;
    line-height: 1.28;
  }
}

.backdrop-cart {
  @include desktop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);

    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.cart-container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 375px) and (max-width: 1575px) {
    max-width: 375px;
    padding-right: 4px;
    padding-left: 4px;
  }

  @include desktop {
    position: relative;
    max-width: 1576px;

    // padding-right: 85px;
    // padding-left: 85px;
  }
}

.cart {
  position: absolute;
  z-index: 2;
  background: $SectionColor;
  border-radius: 12px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include mobile {
    top: 4px;
    right: 4px;
    padding: 18px;

    width: 367px;
    height: 100vw;
  }

  @include desktop {
    top: 95px;
    right: 0;
    padding: 30px;

    width: 590px;
    height: auto;
  }
}

.hide-cart {
  opacity: 0;
  pointer-events: none;
}

.cart__close-btn {
  position: absolute;
  padding: 0;
  border: 0;
  background-color: inherit;
  @include mobile {
    top: 14px;
    right: 23px;

    width: 20px;
    height: 20px;
  }

  @include desktop {
    top: 20px;
    right: 20px;

    width: 50px;
    height: 50px;
  }

  // @include transition(background-color);

  // &:hover,
  // &:focus {
  //   background-color: $AccentColor2;
  // }
}

.cart__close-icon {
  @include transition(fill);

  .cart__close-btn:hover &,
  .cart__close-btn:focus & {
    fill: $AccentColor2;
  }
  @include mobile {
    width: 20px;
    height: 20px;
  }

  @include desktop {
    width: 50px;
    height: 50px;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-item {
  position: relative;
  // display: flex;
  // justify-content: space-between;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 18px;
  padding-left: 24px;

  background-color: $BackgroundColor;
  border-radius: 12px;
}

.cart-item__description {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.cart-item__data {
  width: 100%;
  // @include mobile {
  //   width: 100%;
  // }

  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.cart-item__image {
  @include mobile {
    width: 86px;
    height: 86px;
  }

  @include desktop {
    width: 58px;
    height: 47px;
  }
}

.cart-item__name {
  font-size: 16px;
  line-height: 1.5;

  @include mobile {
    margin-bottom: 4px;
  }

  @include desktop {
    margin-bottom: 2px;
  }
}

.cart-item__weight {
  color: $AccentColor2;

  @media screen and (min-width: 375px) and (max-width: 1575px) {
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 1.33;
  }

  @include desktop {
    font-size: 14px;
    line-height: 1.42;
  }
}

.cart-item__price {
  @include desktop {
    margin-right: 16px;

    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
    color: $MainFontColor;
  }
}

.cart-item__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.change-amount_wrapper {
  display: flex;
  align-items: center;
}

.item-count {
  margin-right: 8px;
  margin-left: 8px;

  font-size: 14px;
  line-height: 1.42;
  font-weight: 500;
  color: $MainFontColor;
}

.total-price {
  @include desktop {
    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
    color: $MainFontColor;
  }
}

.money-to-pay {
  @include desktop {
    font-size: 21px;
    line-height: 1.9;
    font-weight: 500;
    color: $MainFontColor;
  }
}

.cart__summary {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}
// ------------------------------------------Buttons------------------------------------------
.delete-from-cart-btn {
  position: absolute;
  top: 25px;
  left: -13px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 25px;
  height: 25px;
  background-color: $SectionColor;
  border: 0;
  border-radius: 8px;

  @include transition(background-color);

  &:hover {
    background-color: $SelectionFontColor;
  }
}

.decrease-amount,
.increase-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 32px;
  height: 32px;
  background-color: $SectionColor;
  border: 0;
  border-radius: 8px;

  @include transition(background-color);

  &:hover {
    background-color: $SelectionFontColor;
  }
}

.create-order-btn {
  padding: 16px 25px;
  font-size: 16px;
  line-height: 1.5;
  color: $FontColorWhite;
  background-color: $AccentColor;
  border: 0;
  border-radius: 12px;
}
