.section-sushi {
  margin-top: 48px;
}

.section-sushi__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sushi-foto {
  width: 96px;
  height: 96px;
}

.product-card {
  position: relative;
  display: flex;
  gap: 12px;
  justify-content: space-around;

  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: auto;
  margin-right: auto;

  width: 343px;
  background-color: $SectionColor;
  border-radius: 12px;
}

.load-more-btn-sushi {
  margin-top: 18px;
  padding-top: 16px;
  padding-bottom: 16px;

  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: $AccentColor;
  background-color: $SectionColor;

  border-radius: 12px;
  border-color: transparent;
}

.product-name {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1.5;
}

.product-weight {
  color: $AccentColor2;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.product-description {
  margin-top: 6px;
  margin-bottom: 8px;
  color: $SecondaryFontColor;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
}

.product-price {
  margin-right: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.favourite-icon {
  // padding: 8px;
  // background-color: $BackgroundColor;
}

.product-favourite-btn {
  margin-right: 6px;
  padding: 0;

  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 12px;
  background-color: $BackgroundColor;
}

.product-add-to-cart-btn {
  width: 56px;
  height: 40px;
  border: 0;
  border-radius: 12px;
  background-color: $BackgroundColor;
}

.price-wrapper {
  display: flex;
  align-items: center;
}

.additional-info {
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  gap: 4px;
}

.additional-info__hit {
  padding: 2px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: $AccentColor2;
  background-color: $BGCinfo2;
  border-radius: 6px;
}

.additional-info__new {
  padding: 2px 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: $AccentColor;
  background-color: $BGCinfo1;
  border-radius: 6px;
}

.product-info {
  width: 211px;
}
