.news-wrapper {
  padding-bottom: 12px;

  background-color: $SectionColor;
  border-radius: 24px;

  @include mobile {
    padding-bottom: 12px;
  }

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 0;
  }
}

.news-description {
  @media screen and (min-width: 375px) and (max-width: 1575px) {
    margin-left: auto;
    margin-right: auto;
    width: 343px;
  }

  @include desktop {
    width: 565px;
    padding-left: 94px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.news-title {
  @media screen and (min-width: 375px) and (max-width: 1575px) {
    margin-top: 24px;
    margin-bottom: 12px;

    font-size: 32px;
    line-height: 1.25;
  }

  @include desktop {
    font-size: 64px;
    line-height: 1.28;
  }
}

.news-comment {
  font-weight: 400;

  color: $SecondaryFontColor;
  @include mobile {
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
  }

  @include desktop {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.news-image__mobile {
  @include mobile {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.news-image__desktop {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: block;
    width: 788px;
  }
}

.news-link {
  margin-left: auto;
  margin-right: auto;

  font-weight: 500;

  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  color: $SectionColor;
  background-color: $AccentColor;

  border-radius: 12px;

  @include mobile {
    padding: 16px 96px;
  }

  @include desktop {
    padding: 15px 80px;
    display: inline-block;
  }
}
