.section-category {
  @include mobile {
    margin-top: 6px;
    margin-bottom: 8px;
  }

  @include desktop {
    margin-top: 16px;
    margin-bottom: 18px;
  }
}

.category-list {
  // display: flex;
  // list-style: none;
  // overflow: hidden;

  @media screen and (min-width: 375px) and (max-width: 1575px) {
    // gap: 4px;
    display: none;
  }

  @include desktop {
    display: flex;
    list-style: none;
    overflow: hidden;

    margin-right: auto;
    margin-left: auto;
    padding: 6px 16px;
    justify-content: center;
    gap: 8px;

    width: 816px;
    background-color: $SectionColor;
    border-radius: 12px;
  }
}

.category-btn {
  background-color: $SectionColor;
  border: 0;

  @media screen and (min-width: 375px) and (max-width: 1575px) {
    border-radius: 12px;
    padding: 8px;
  }

  @include desktop {
    width: 91px;
    height: 83px;
    cursor: pointer;
  }
}

.category-icon {
  @include mobile {
    width: 38px;
    height: 38px;
  }

  @include desktop {
    width: 44px;
    height: 44px;
  }
}

.category-name {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: block;
  }
}

.category-list__item {
  @include mobile {
    height: 54px;
  }

  @include desktop {
    height: 83px;
  }
}
// -----------------------------------------Splide slider-----------------------------------------
.splide {
  @include desktop {
    display: none;
  }
}

.splide__arrows {
  display: none;
}

.splide__pagination.splide__pagination--ltr {
  display: none;
}
