<footer class="footer">
  <div class="container">
    <div>
      <a href="./index.html" class="">
        <svg width="170" height="39" class="">
          <use href="./images/symbol-defs.svg#ninja-sushi-logo-desktop"></use>
        </svg>
      </a>
      <p class="footer-list__info">
        В асортименті Ninja Sushi представлені роли, суші, сети та напої на будь-який
        смак.
      </p>
    </div>
    <div>
      <h2 class="footer-title">Навігація:</h2>
      <ul class="footer-list">
        <li class="footer-list__item"><a href="./#">Головна</a></li>
        <li class="footer-list__item"><a href="./#">Меню</a></li>
        <li class="footer-list__item"><a href="./#">Доставка</a></li>
        <li class="footer-list__item"><a href="./#">Вакансії</a></li>
        <li class="footer-list__item"><a href="./#">Новини</a></li>
      </ul>
    </div>
    <div>
      <h2 class="footer-title">Оформити замовлення:</h2>
      <ul class="footer-list">
        <li class="footer-list__item">
          <a href="tel:+380674366127">+38 (067) 436 61 27</a>
        </li>
        <li class="footer-list__item">
          <a href="tel:+380660317630">+38 (066) 031 76 30</a>
        </li>
        <li class="footer-list__item">
          <a href="tel:+380939249828">+38 (093) 924 98 28</a>
        </li>
      </ul>
      <p class="footer-list__info">Телефонуйте нам з 9:00 до 21:00 без вихідних</p>
    </div>
    <div>
      <h2 class="footer-title">Робочі години:</h2>
      <ul class="footer-list" l>
        <li class="footer-list__item">з 11:00 до 22:45</li>
        <li class="footer-list__item">з 22.45 до 06.00</li>
      </ul>
      <p class="footer-list__info">Нічна доставка</p>
    </div>
    <div>
      <h2 class="footer-title">Ми в соц. мережах:</h2>
      <ul class="footer-list">
        <li>
          <a href="">
            <svg width="26" height="26" class="">
              <use href="./images/symbol-defs.svg#facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="26" height="26" class="">
              <use href="./images/symbol-defs.svg#instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="20" height="16" class="">
              <use href="./images/symbol-defs.svg#support-telegram-icon"></use>
            </svg>
            Техпідтримка</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h2 class="footer-title">Угода користувача:</h2>
      <ul class="footer-list footer-list__pay-systems">
        <li>
          <svg width="37" height="30" class="">
            <use href="./images/symbol-defs.svg#mastercard-icon"></use>
          </svg>
        </li>
        <li>
          <svg width="53" height="17" class="">
            <use href="./images/symbol-defs.svg#visa-icon"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24" class="">
            <use href="./images/symbol-defs.svg#privatbank-icon"></use>
          </svg>
        </li>
      </ul>
      <p class="copyrights">© Ninja Sushi. All right reserved.</p>
    </div>
  </div>
</footer>
