<footer class="footer">
  <div class="container footer-container">
    <!-- Логотипи -->
    <div class="footer__content-wrapper">
      <a href="./index.html" class="">
        <svg class="footer__ninja-logo">
          <use href="./images/symbol-defs.svg#ninja-sushi-logo-desktop"></use>
        </svg>
      </a>
      <p class="footer-list__info footer-list__info--hide">
        В асортименті Ninja Sushi представлені роли, суші, сети та напої на будь-який
        смак.
      </p>
      <ul class="footer__store-list">
        <li>
          <a href="">
            <svg width="110" height="37" class="">
              <use href="./images/symbol-defs.svg#appstore"></use></svg
          ></a>
        </li>
        <li>
          <a href="">
            <svg width="123" height="37" class="">
              <use href="./images/symbol-defs.svg#google-play"></use></svg
          ></a>
        </li>
      </ul>
      <p class="copyrights copyrights__desktop">© Ninja Sushi. All right reserved.</p>
      <a href="./#" class="privacy-policy">Політика конфіденційності</a>
    </div>
    <!-- Навігація -->
    <div class="footer__content-wrapper">
      <h2 class="footer-title">Навігація:</h2>
      <ul class="footer-list footer-list--flex">
        <li class="footer-list__item"><a href="./#">Головна</a></li>
        <li class="footer-list__item"><a href="./#">Меню</a></li>
        <li class="footer-list__item"><a href="./#">Доставка</a></li>
        <li class="footer-list__item"><a href="./#">Вакансії</a></li>
        <li class="footer-list__item"><a href="./#">Новини</a></li>
      </ul>
    </div>
    <!-- Оформлення замовлення -->
    <div class="footer__content-wrapper">
      <h2 class="footer-title">Оформити замовлення:</h2>
      <ul class="footer-list footer-list--flex">
        <li class="footer-list__item">
          <a href="tel:+380674366127">+38 (067) 436 61 27</a>
        </li>
        <li class="footer-list__item">
          <a href="tel:+380660317630">+38 (066) 031 76 30</a>
        </li>
        <li class="footer-list__item">
          <a href="tel:+380939249828">+38 (093) 924 98 28</a>
        </li>
      </ul>
      <p class="footer-list__info footer-list__info--hide">
        Телефонуйте нам з 9:00 до 21:00 без вихідних
      </p>
    </div>
    <!-- Робочі години -->
    <div class="footer__content-wrapper">
      <h2 class="footer-title">Робочі години:</h2>
      <ul class="footer-list footer-list--flex">
        <li class="footer-list__item">з 11:00 до 22:45</li>
        <li class="footer-list__item">з 22.45 до 06.00</li>
      </ul>
      <p class="footer-list__info">Нічна доставка</p>
    </div>
    <!-- Соціальні мережі -->
    <div class="footer__content-wrapper">
      <h2 class="footer-title">Ми в соц. мережах:</h2>
      <ul class="footer-list footer-list__social">
        <li>
          <a href="./#">
            <svg width="26" height="26" class="">
              <use href="./images/symbol-defs.svg#facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="./#">
            <svg width="26" height="26" class="">
              <use href="./images/symbol-defs.svg#instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="./#" class="tech-support">
            <svg width="20" height="16" class="">
              <use href="./images/symbol-defs.svg#support-telegram-icon"></use>
            </svg>
            <span class="tech-support__text">Техпідтримка</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Угода користувача / хештег -->
    <div class="footer__content-wrapper">
      <div class="footer__desktop-content">
        <h2 class="hashtag">#NinjaSushi</h2>
        <p class="footer-list__info">Ninja Sushi у фотографіях наших клієнтів</p>
        <a href="./#" class="follow-instagram">Перейти в instagram</a>
      </div>
      <h3 class="footer-title footer-title--centering footer-title--hide">
        Угода користувача
      </h3>
      <ul class="footer-list footer-list__pay-systems">
        <li>
          <svg class="mastercard-icon">
            <use href="./images/symbol-defs.svg#mastercard-icon"></use>
          </svg>
        </li>
        <li>
          <svg class="visa-icon">
            <use href="./images/symbol-defs.svg#visa-icon"></use>
          </svg>
        </li>
        <li>
          <svg class="privatbank-icon">
            <use href="./images/symbol-defs.svg#privatbank-icon"></use>
          </svg>
        </li>
      </ul>
      <p class="copyrights copyrights__mobile">© Ninja Sushi. All right reserved.</p>
    </div>
  </div>
</footer>
