<header>
  <div class="container header-container">
    <div class="header-wrapper">
      <a href="./index.html" class=""
        ><svg width="67" height="28" class="ninja-logo__mobile">
          <use
            href="./images/symbol-defs.svg#ninja-sushi-logo-mobile"
          ></use></svg
        ><svg width="214" height="48" class="ninja-logo__desktop">
          <use
            href="./images/symbol-defs.svg#ninja-sushi-logo-desktop"
          ></use></svg
      ></a>
      <div class="location">
        <svg class="ukrainian-flag">
          <use href="./images/symbol-defs.svg#ukraine-flag"></use>
        </svg>
        <button type="button" class="location-btn">
          <span class="location-btn__city">Киев</span
          ><span class="location-btn__language">RU</span>
        </button>
      </div>
      <nav>
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="./" class="nav-list__link">Главная</a>
          </li>
          <li class="nav-list__item">
            <a href="./" class="nav-list__link">Доставка</a>
          </li>
          <li class="nav-list__item">
            <a href="./" class="nav-list__link">О нас</a>
          </li>
          <li class="nav-list__item">
            <a href="./" class="nav-list__link">Новости</a>
          </li>
          <li class="nav-list__item">
            <a href="tel:+380976993438" class="nav-list__link phone-correction"
              ><svg width="24" height="24" class="">
                <use href="./images/symbol-defs.svg#phone"></use></svg
              >+38 097 699 34 38</a
            >
          </li>
        </ul>
      </nav>
      <ul class="header-list">
        <li class="header-list__item">
          <a href="./" class="header-list__link"
            ><svg class="header-list__icon">
              <use href="./images/symbol-defs.svg#bell-mobile"></use></svg
          ></a>
        </li>
        <li class="header-list__item">
          <a href="./" class="header-list__link"
            ><svg class="header-list__icon">
              <use href="./images/symbol-defs.svg#favourite-mobile"></use></svg
          ></a>
        </li>
        <li class="header-list__item">
          <a href="./" class="header-list__link"
            ><svg class="header-list__icon">
              <use href="./images/symbol-defs.svg#user-mobile"></use></svg
          ></a>
        </li>
        <li class="header-list__item hide-menu-btn">
          <button type="button" class="menu-btn">
            <svg class="header-list__icon">
              <use href="./images/symbol-defs.svg#menu-btn-mobile"></use>
            </svg>
          </button>
        </li>
        <li class="header-list__item hide-cart-btn">
          <button type="button" class="cart-btn">
            Корзина
            <svg class="cart-icon">
              <use href="./images/symbol-defs.svg#cart-icon"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <!-- // Модальне вікно вибору мови та міста. -->
    <div class="location-modal-window is-hidden" data-modal="location">
      <button type="button" class="location-modal-window__close-btn">
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#menu-close"></use>
        </svg>
      </button>

      <p class="choose-language">Выберите язык</p>
      <div class="location-modal__language">
        <button type="button" class="location-modal__language-btn">EN</button>
        <button type="button" class="location-modal__language-btn">UA</button>
        <button type="button" class="location-modal__language-btn selected">
          RU
        </button>
      </div>
      <p class="choose-city choose-city--move-down">Выберите город</p>
      <div class="location-modal__city">
        <button type="button" class="location-modal__city-btn selected">
          Киев
        </button>
        <button type="button" class="location-modal__city-btn">Днепр</button>
        <button type="button" class="location-modal__city-btn">Харьков</button>
        <button type="button" class="location-modal__city-btn">Одесса</button>
      </div>
    </div>
  </div>
</header>
<!-- <div class="container">
  <div class="product-card">
    <h2 class="product-name"></h2>
    <p class="product-weight"></p>
    <p class="product-description"></p>
  </div>
  <div class="product-card"></div>
  <div class="product-card"></div>
  <div class="product-card"></div>
  <div class="product-card"></div>
  <div class="product-card"></div>
  <div class="product-card"></div>
  <div class="product-card"></div>
  <button class="load-more-btn-sushi"></button>
</div> -->
