<header>
  <div class="container">
    <div class="header-wrapper">
      <a href="./index.html" class=""
        ><svg width="67" height="28" class="ninja-logo">
          <use
            href="./images/symbol-defs.svg#ninja-sushi-logo-mobile"
          ></use></svg
      ></a>
      <form class="choose-city">
        <input
          type="text"
          name="city"
          placeholder="Оберіть місто"
          class="input-city"
        />
      </form>
      <ul class="header-list">
        <li class="header-list__item">
          <a href="./" class=""
            ><svg width="40" height="40" class="header-list__item-icon">
              <use href="./images/symbol-defs.svg#bell-mobile"></use></svg
          ></a>
        </li>
        <li class="header-list__item">
          <a href="./" class=""
            ><svg width="40" height="40" class="header-list__item-icon">
              <use href="./images/symbol-defs.svg#favourite-mobile"></use></svg
          ></a>
        </li>
        <li class="header-list__item">
          <a href="./" class=""
            ><svg width="40" height="40" class="header-list__item-icon">
              <use href="./images/symbol-defs.svg#user-mobile"></use></svg
          ></a>
        </li>
        <li class="header-list__item">
          <a href="./" class=""
            ><svg width="40" height="40" class="header-list__item-icon">
              <use href="./images/symbol-defs.svg#menu-btn-mobile"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>
