<!-- Мобільне меню -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-menu__container">
    <h2 class="mobile-menu__title">Меню</h2>
    <button class="close-mobile-menu-btn js-close-menu">
      <svg width="20" height="20">
        <use href="./images/symbol-defs.svg#menu-close"></use>
      </svg>
    </button>
    <ul class="menu__category-list">
      <li class="menu__category-item">
        <button class="menu__category-btn" type="button">
          <svg class="menu__category-icon">
            <use href="./images/symbol-defs.svg#category-icon1-mobile"></use>
          </svg>
          <p class="menu__category-name">Роли</p>
        </button>
      </li>
      <li class="menu__category-item">
        <button class="menu__category-btn" type="button">
          <svg class="menu__category-icon">
            <use href="./images/symbol-defs.svg#category-icon2-mobile"></use>
          </svg>
          <p class="menu__category-name">Суші</p>
        </button>
      </li>
      <li class="menu__category-item">
        <button class="menu__category-btn" type="button">
          <svg class="menu__category-icon">
            <use href="./images/symbol-defs.svg#category-icon3-mobile"></use>
          </svg>
          <p class="menu__category-name">Сети</p>
        </button>
      </li>
      <li class="menu__category-item">
        <button class="menu__category-btn" type="button">
          <svg class="menu__category-icon">
            <use href="./images/symbol-defs.svg#category-icon4-mobile"></use>
          </svg>
          <p class="menu__category-name">Боули</p>
        </button>
      </li>
      <li class="menu__category-item">
        <button class="menu__category-btn" type="button">
          <svg class="menu__category-icon">
            <use href="./images/symbol-defs.svg#category-icon5-mobile"></use>
          </svg>
          <p class="menu__category-name">Напої</p>
        </button>
      </li>
      <li class="menu__category-item">
        <button class="menu__category-btn" type="button">
          <svg class="menu__category-icon">
            <use href="./images/symbol-defs.svg#category-icon6-mobile"></use>
          </svg>
          <p class="menu__category-name">Соуси</p>
        </button>
      </li>
      <li class="menu__category-item">
        <button class="menu__category-btn" type="button">
          <svg class="menu__category-icon">
            <use href="./images/symbol-defs.svg#category-icon-empty-mobile"></use>
          </svg>
          <p class="menu__category-name">New</p>
        </button>
      </li>
      <li class="menu__category-item">
        <button class="menu__category-btn" type="button">
          <svg class="menu__category-icon">
            <use href="./images/symbol-defs.svg#category-icon-empty-mobile"></use>
          </svg>
          <p class="menu__category-name">New</p>
        </button>
      </li>
    </ul>

    <button type="button" class="menu__cart-btn js-open-menu-cart">
      Кошик
      <svg class="menu__cart-icon">
        <use href="./images/symbol-defs.svg#cart-icon"></use>
      </svg>
    </button>
  </div>
</div>

<!-- Мобільне меню ---КОШИК -->
<div class="menu-cart-container js-menu-cart-container">
  <div class="mobile-menu__container">
    <h2 class="cart-title">Ваше замовлення</h2>
    <button type="button" class="cart__close-btn-mobile js-close-menu-cart">
      <svg class="cart__close-icon-mobile">
        <use href="./images/symbol-defs.svg#menu-close"></use>
      </svg>
    </button>

    <div class="cart-mobile-items"></div>
    <div class="cart__summary">
      <div class="">
        <p class="total-price">Загальна вартість</p>
        <p class="money-to-pay"><span class="money-to-pay__value-mobile">0</span> грн</p>
      </div>
      <button type="button" class="create-order-btn">Оформити замовлення</button>
    </div>
  </div>
</div>
