// Модальне вікно вибору мови та міста.
<div class="location-modal-window">
  <button type="button" class="location-modal-window__close-btn">
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#menu-close"></use>
    </svg>
  </button>

  <p class="choose-language">Выберите язык</p>
  <div class="location-modal-window__wrapper">
    <buton type="button" class="location-modal-window__btn">EN</buton>
    <buton type="button" class="location-modal-window__btn">UA</buton>
    <buton type="button" class="location-modal-window__btn">RU</buton>
  </div>
  <p class="choose-city">Выберите город</p>
  <div class="location-modal-window__wrapper">
    <buton type="button" class="location-modal-window__btn">Киев</buton>
    <buton type="button" class="location-modal-window__btn">Днепр</buton>
    <buton type="button" class="location-modal-window__btn">Харьков </buton>
    <buton type="button" class="location-modal-window__btn">Одесса</buton>
  </div>
</div>
