<div class="backdrop hide" data-modal="meditation">
  <div class="meditation">
    <button class="meditation__close-btn">
      <svg width="50" height="50" class="meditation__close-icon">
        <use href="./images/symbol-defs.svg#menu-close"></use>
      </svg>
    </button>

    <img
      class="meditation__image"
      srcset="
        /src/images/main-page/ninja-meditation.jpg    1x,
        /src/images/main-page/ninja-meditation@2x.jpg 2x
      "
      src="/src/images/main-page/ninja-meditation.jpg"
      alt="Ніндзя медитують"
    />
    <div class="meditation__description">
      <h2 class="meditation__title">Зараз всі ніндзя медитують</h2>
      <p class="meditation__workdays">Працюємо для вас щоденно</p>
      <p class="meditation__workhours">з 10:00 до 21:30</p>
      <p class="meditation__comment">
        //PS: В налаштуваннях модальне вікно не активне тільки з 12:00 до 13:59 //
      </p>
    </div>
  </div>
</div>
