<div class="backdrop-cart hide-cart" data-modal="cart">
  <div class="cart">
    <h2 class="cart-title">Ваше замовлення</h2>
    <button type="button" class="cart__close-btn">
      <svg class="cart__close-icon">
        <use href="./images/symbol-defs.svg#menu-close"></use>
      </svg>
    </button>
    <div class="cart-items"></div>
    <div class="cart__summary">
      <div class="">
        <p class="total-price">Загальна вартість</p>
        <p class="money-to-pay"><span class="money-to-pay__value">0</span> грн</p>
      </div>
      <button type="button" class="create-order-btn">Оформити замовлення</button>
    </div>
  </div>
</div>
