<section class="section-sushi">
  <div class="container">
    <h2 class="section-sushi__title">Суши</h2>
    <form class="form-sushi-sort">
      <label for="sort-sushi">Сортування</label>
      <select name="sort-sushi" id="sort-sushi">
        <option></option>
        <option value="name">за назвою</option>
        <option value="weight">за вагою</option>
        <option value="priceUp">ціна за збільщенням</option>
        <option value="priceDown">ціна за зменшенням</option>
      </select>
    </form>
    <div class="section-sushi__container"></div>
    <button type="button" class="load-more-btn-sushi">Смотреть все позиции</button>
  </div>
</section>
<!-- <div class="section-sushi__container">
  <div class="product-card">
    <div class="price-wrapper">
      <p class="product-price">190</p>
      <button type="button" class="product-favourite-btn"></button>
      <button type="button" class="product-add-to-cart-btn">
        <svg width="24" height="24" viewBox="0 0 32 26" class="add-to-cart-icon"></svg>
      </button>
    </div>
  </div>
  <div class="product-card">
    <div class="price-wrapper">
      <p class="product-price">200</p>
      <button type="button" class="product-favourite-btn"></button>
      <button type="button" class="product-add-to-cart-btn">
        <svg width="24" height="24" viewBox="0 0 32 26" class="add-to-cart-icon"></svg>
      </button>
    </div>
  </div>
  <div class="product-card">
    <div class="price-wrapper">
      <p class="product-price">210</p>
      <button type="button" class="product-favourite-btn"></button>
      <button type="button" class="product-add-to-cart-btn">
        <svg width="24" height="24" viewBox="0 0 32 26" class="add-to-cart-icon"></svg>
      </button>
    </div>
  </div>
</div> -->
