<section class="section-sushi">
  <div class="container">
    <h2 class="section-sushi__title">Суши</h2>
    <form class="form-sushi-filter">
      <label for="filter-sushi">Фільтр</label>
      <select name="filter-sushi" id="filter-sushi">
        <option value="name">за назвою</option>
        <option value="weight">за вагою</option>
        <option value="price-to-up">ціна за збільщенням</option>
        <option value="price-to-down">ціна за зменшенням</option>
      </select>
    </form>
    <div class="section-sushi__container"></div>
    <button type="button" class="load-more-btn-sushi">
      Смотреть все позиции
    </button>
  </div>
</section>
