<section class="section-roll">
  <div class="container">
    <h2 class="section-roll__title">Роли</h2>
    <form class="form-roll-sort">
      <label for="sort-roll">Сортування</label>
      <select name="sort-roll" id="sort-roll">
        <option></option>
        <option value="name">за назвою</option>
        <option value="weight">за вагою</option>
        <option value="priceUp">ціна за збільшенням</option>
        <option value="priceDown">ціна за зменшенням</option>
      </select>
    </form>
    <div class="section-roll__container"></div>
    <button type="button" class="load-more-btn-roll">Дивитись всі позиції</button>
  </div>
</section>
