<section class="section-category">
  <div class="container">
    <ul class="category-list">
      <li class="category-list__item">
        <button class="category-btn">
          <svg class="category-icon">
            <use href="./images/symbol-defs.svg#category-icon1-mobile"></use>
          </svg>
          <p class="category-name">Роллы</p>
        </button>
      </li>
      <li class="category-list__item">
        <button class="category-btn">
          <svg class="category-icon">
            <use href="./images/symbol-defs.svg#category-icon2-mobile"></use>
          </svg>
          <p class="category-name">Суши</p>
        </button>
      </li>
      <li class="category-list__item">
        <button class="category-btn">
          <svg class="category-icon">
            <use href="./images/symbol-defs.svg#category-icon3-mobile"></use>
          </svg>
          <p class="category-name">Сеты</p>
        </button>
      </li>
      <li class="category-list__item">
        <button class="category-btn">
          <svg class="category-icon">
            <use href="./images/symbol-defs.svg#category-icon4-mobile"></use>
          </svg>
          <p class="category-name">Боулы</p>
        </button>
      </li>
      <li class="category-list__item">
        <button class="category-btn">
          <svg class="category-icon">
            <use href="./images/symbol-defs.svg#category-icon5-mobile"></use>
          </svg>
          <p class="category-name">Напитки</p>
        </button>
      </li>
      <li class="category-list__item">
        <button class="category-btn">
          <svg class="category-icon">
            <use href="./images/symbol-defs.svg#category-icon6-mobile"></use>
          </svg>
          <p class="category-name">Соусы</p>
        </button>
      </li>
      <li class="category-list__item">
        <button class="category-btn">
          <svg class="category-icon">
            <use
              href="./images/symbol-defs.svg#category-icon-empty-mobile"
            ></use>
          </svg>
          <p class="category-name">New</p>
        </button>
      </li>
      <li class="category-list__item">
        <button class="category-btn">
          <svg class="category-icon">
            <use
              href="./images/symbol-defs.svg#category-icon-empty-mobile"
            ></use>
          </svg>
          <p class="category-name">New</p>
        </button>
      </li>
    </ul>
  </div>
</section>
