<section class="section-news">
  <div class="container">
    <div class="news-wrapper">
      <img
        class="news-image"
        srcset="
          /src/images/main-page/mobile-news-image.jpg    1x,
          /src/images/main-page/mobile-news-image@2x.jpg 2x
        "
        src="/src/images/main-page/mobile-news-image.jpg"
        alt="Опис зображення для усіх версій"
      />
      <div class="news-description">
        <h2 class="news-title">
          Ninja Sushi в Киеве! Пока только на левом берегу
        </h2>
        <p class="news-comment">Доставку делаем с 10:00 до 19:30</p>
        <a class="news-link" href="./">Перейти к новости</a>
      </div>
    </div>
  </div>
</section>
