<section class="section-sushi">
  <div class="container">
    <h2 class="section-sushi__title">Суши</h2>
    <div class="section-sushi__container"></div>
    <button type="button" class="load-more-btn-sushi">
      Смотреть все позиции
    </button>
  </div>
</section>
<!-- <div class="contain">
  <div class="product-card">
    <img src="" alt="" class="sushi-foto" />
    <div class="additional-info">
      <p class="additional-info__hit">hit</p>
    </div>
  </div>
  <div class="product-card">
    <img src="" alt="" class="sushi-foto" />
    <div class="additional-info">
      <p class="additional-info__hit">hit</p>
    </div>
  </div>
  <div class="product-card">
    <img src="" alt="" class="sushi-foto" />
    <div class="additional-info">
      <p class="additional-info__hit">hit</p>
    </div>
  </div>
  <div class="product-card">
    <img src="" alt="" class="sushi-foto" />
    <div class="additional-info">
      <p class="additional-info__hit">hit</p>
    </div>
  </div>
  <div class="product-card">
    <img src="" alt="" class="sushi-foto" />
    <div class="additional-info">
      <p class="additional-info__hit">hit</p>
    </div>
  </div>
  <div class="product-card">
    <img src="" alt="" class="sushi-foto" />
    <div class="additional-info">
      <p class="additional-info__hit">hit</p>
    </div>
  </div>
  <div class="product-card">
    <img src="" alt="" class="sushi-foto" />
    <div class="additional-info">
      <p class="additional-info__hit">hit</p>
    </div>
  </div>
  <div class="product-card">
    <img src="" alt="" class="sushi-foto" />
    <div class="additional-info">
      <p class="additional-info__hit">hit</p>
    </div>
  </div>
</div>
<button type="button" class="load-more-btn-sushi">Смотреть все позиции</button> -->
