<section class="section-category">
  <div class="container">
    <ul class="category-list">
      <li>
        <button class="category-btn">
          <svg width="38" height="38">
            <use href="./images/symbol-defs.svg#category-icon1-mobile"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="category-btn">
          <svg width="38" height="38">
            <use href="./images/symbol-defs.svg#category-icon2-mobile"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="category-btn">
          <svg width="38" height="38">
            <use href="./images/symbol-defs.svg#category-icon3-mobile"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="category-btn">
          <svg width="38" height="38">
            <use href="./images/symbol-defs.svg#category-icon4-mobile"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="category-btn">
          <svg width="38" height="38">
            <use href="./images/symbol-defs.svg#category-icon5-mobile"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="category-btn">
          <svg width="38" height="38">
            <use href="./images/symbol-defs.svg#category-icon6-mobile"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="category-btn">
          <svg width="38" height="38">
            <use
              href="./images/symbol-defs.svg#category-icon-empty-mobile"
            ></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="category-btn">
          <svg width="38" height="38">
            <use
              href="./images/symbol-defs.svg#category-icon-empty-mobile"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<!-- <div>
  kartka
  <div> kartunka
    <a href="">
      <img src="" alt="" />
    </a>
  </div>
  <div> hit/new
    <p></p>
    <p></p>
  </div> 
    <div> ingredient
  </div> 
  <div> opus
    <h2></h2>
    <p></p>
    <p></p>
  </div>
  <div> cena
    <p></p>
    <button></button>
    <button></button>
  </div>
</div> -->
